#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  width: 250px;
  height: 200px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: .5rem;
}